<div class="side-bar-content">
    <div class="top-image-holder dash-img">
      <img src="/images/eia_logo.png" alt="" />
    </div>
    <ul class="links">
      <li class="list">
        <a href="/dashboard" class="link <%= path === '/dashboard' ? ' active ' : '' %>">Home</a>
      </li>
      <li class="list">
        <a href="/clients" class="link  <%= path === '/clients' ? ' active ' : '' %>">Clients</a>
      </li>
      <li class="list">
        <a href="/underwriting" class="link  <%= path === '/underwriting' ? ' active ' : '' %>">Underwriting</a>
      </li>
      <li class="list">
        <a href="/claims" class="link  <%= path === '/claims' ? ' active ' : '' %>">Claims</a>
      </li>
      <li class="list">
        <a href="/vehicles" class="link  <%= path === '/vehicles' ? ' active ' : '' %>">Vehicles</a>
      </li>
      <li class="list">
        <a href="/credit" class="link">Reports</a>
      </li>
    </ul>
    <ul class="links lower">
      <li class="list">
        <a href="/admin" class="link  <%= path === '/admin' ? ' active ' : '' %>">Admin</a>
      </li>
      <li class="list">
        <a href="/logout" class="link logout">Logout</a>
      </li>
    </ul>
  </div>
</div>