<%- include ('./includes/header.ejs') %>
  <body>
    <div class="dash-container">
      <div class="hover-hamburger" id="hover_hamburger">
        <div class="inner-hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
      <div class="nav-overlay" id="overlay"></div>
      <div class="side-bar" id="side_bar">
        <div class="other-hover-hamburger show" id="other_hover_hamburger">
          <div class="inner-hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
        <div class="side-bar-content">
          <div class="top-image-holder dash-img">
            <img src="/images/eia_logo.png" alt="" />
          </div>
          <ul class="links">
            <li class="list">
              <a href="/dashboard" class="link">Home</a>
            </li>
            <li class="list">
              <a href="/clients" class="link">Clients</a>
            </li>
            <li class="list">
              <a href="/underwriting" class="link">Underwriting</a>
            </li>
            <li class="list">
              <a href="/claims" class="link active">Claims</a>
            </li>
            <li class="list">
              <a href="/vehicles" class="link">Vehicles</a>
            </li>
            <li class="list">
              <a href="/credit" class="link">Reports</a>
            </li>
          </ul>
          <ul class="links lower">
            <li class="list">
              <a href="/admin/" class="link">Admin</a>
            </li>
            <li class="list">
              <a href="/logout" class="link logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="top-bar">
        <div class="user-name-space">
          <div class="user-icon">
            <div class="image-holder">
              <img src="/images/user-img.png" alt="" />
            </div>
            <h3 class="username-dash">Hello <%= user.firstName %> </h3>
          </div>
        </div>
      </div>
      <div class="time-bar">
        <h3 id="date_value"></h3>
      </div>
      <div class="dash-main">
        <div class="dash-content">
          <div class="client-profile-content">
            <div class="details-display">
              <div class="top-nav-options">
                <a href="" class="nav-options-link active">Claim Details</a>
                <a href="http://192.168.0.34/eiapro/php_files/claim-documents.php?id=<%=
                claim.id %>&username=<%= user.firstName %>&policy=<%= claim.policy.policytype %>&cover=<%= claim.policy.coverType %>"
                class="nav-options-link" class="nav-options-link">Image Documents</a>
                <a href="/claim-action/<%= claim.id %> " class="nav-options-link">Action Log</a>
              </div>
              
              <div class="display-panel">
                <h2 class="data-input-title"> <%= claim.policy.client.lastName %></h2>
                <div class="rows">
                  <div class="data-col">
                    <div class="client-details-display">
                      <h4 class="main">Report Date:</h4>
                      <h4><%= claim.reportDate %></h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Loss Date:</h4>
                      <h4><%= claim.lossDate %></h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Claim Type:</h4>
                      <h4><%= claim.claimType %> </h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Claim Description:</h4>
                      <h4><%= claim.description %></h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Claim Reporter :</h4>
                      <h4><%= claim.reporter %></h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Reporter No:</h4>
                      <h4><%= claim.reporterContact %></h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Claim Status:</h4>
                      <h4><%= status%></h4>
                    </div>
                  </div>
                  <div class="data-col">
                    <div class="client-details-display">
                      <h4 class="main">Claim Amount:</h4>
                      <h4>Kshs <%= claim.claimAmount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %></h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Offer Amount:</h4>
                      <h4>Kshs <%= claim.offerAmount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %></h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Offer Date:</h4>
                      <h4><%= claim.offerDate %></h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Compensation Date:</h4>
                      <h4><%= claim.compDate %></h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Signature:</h4>
                      <h4><%= claim.signature %></h4>
                    </div>
                    <% if(claim.policy.policytype=="Motor vehicles"){%> 
                    <div class="client-details-display">
                      <h4 class="main">Garaged At :</h4>
                      <h4><%= claim.garagedAt %></h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Garage Contact:</h4>
                      <h4><%= claim.garageContact %></h4>
                    </div>
                    <% } %> 
                    <div class="client-details-display" style="flex-wrap: nowrap;
                    align-items: center;">
                      <a href="/edit-claim/<%= claim.id %>" class="btn add-new">Edit</a>
                      <% if(name =="Kelvin"||name=="tester"){%>
                        <a href="/delete-claim/<%= claim.id %>" class="btn" style="
                          margin: 0 0.5rem;
                          flex: 1;
                          display: flex;
                          justify-content: center;
                          height: fit-content;">Delete</a>
                      <%}else{ %><% } %> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/time.js"></script>
    <script src="/js/nav.js"></script>
  </body>
</html>
