<%- include ('./includes/header.ejs') %>
  <body>
    <div class="dash-container">
      <div class="hover-hamburger" id="hover_hamburger">
        <div class="inner-hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
      <div class="nav-overlay" id="overlay"></div>
      <div class="side-bar" id="side_bar">
        <div class="other-hover-hamburger show" id="other_hover_hamburger">
          <div class="inner-hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
        <%- include ('./includes/sidePane.ejs') %>
      <div class="top-bar">
        <div class="user-name-space">
          <div class="user-icon">
            <div class="image-holder">
              <img src="./images/user-img.png" alt="" />
            </div>
            <h3 class="username-dash">Hello <%= userN.firstName %> </h3>
          </div>
        </div>
      </div>
      <div class="time-bar">
        <h3 id="date_value"></h3>
      </div>
      <div class="dash-main">
        <div class="dash-content">
          <div class="client-content">
            <div class="top-search-bar">
              <div class="search-input-holder">
                <input
                  type="text"
                  id="search_table"
                  placeholder="Search"
                  class="search-input"
                  onkeyup="myFunction()"
                />
              </div>
              <a href="/new-client" class="btn add-new">New Client</a>
            </div>

            <div class="dash-table-display">
              <table class="info-list-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Pin</th>
                    <th>P. O. Box</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  <% if(clients.length > 0) { %> 
                    <% for(let client of clients) { %>
                <tr onclick="document.location='/client-profile/<%= client.id%>'">
                    <td><%= client.firstName%> <%= client.lastName%></td>
                    <td><%= client.pin%></td>
                    <td><%= client.boxOffice%>  <%= client.town%></td>
                    <td><%= client.businessType %></td>
                    
                </tr>
                <% } %>
                <% } else { %>
                 
                <% } %>
                
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/search.js"></script>
    <script src="./js/time.js"></script>
    <script src="./js/nav.js"></script>
  </body>
</html>
