<%- include ('./includes/header.ejs') %>
  <body>
    <div class="dash-container">
      <div class="hover-hamburger" id="hover_hamburger">
        <div class="inner-hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
      <div class="nav-overlay" id="overlay"></div>
      <div class="side-bar" id="side_bar">
        <div class="other-hover-hamburger show" id="other_hover_hamburger">
          <div class="inner-hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
        <div class="side-bar-content">
          <div class="top-image-holder dash-img">
            <img src="/images/eia_logo.png" alt="" />
          </div>
          <ul class="links">
            <li class="list">
              <a href="/dashboard" class="link">Home</a>
            </li>
            <li class="list">
              <a href="/clients" class="link">Clients</a>
            </li>
            <li class="list">
              <a href="/underwriting" class="link active">Underwriting</a>
            </li>
            <li class="list">
              <a href="/claims" class="link">Claims</a>
            </li>
            <li class="list">
              <a href="/vehicles" class="link">Vehicles</a>
            </li>
            <li class="list">
              <a href="/credit" class="link">Reports</a>
            </li>
          </ul>
          <ul class="links lower">
            <li class="list">
              <a href="/admin" class="link">Admin</a>
            </li>
            <li class="list">
              <a href="/logout" class="link logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="top-bar">
        <div class="user-name-space">
          <div class="user-icon">
            <div class="image-holder">
              <img src=" /images/user-img.png" alt="" />
            </div>
            <h3 class="username-dash">Hello <%= user.firstName %> </h3>
          </div>
        </div>
      </div>
      <div class="time-bar">
        <h3 id="date_value"></h3>
      </div>
      <div class="dash-main">
        <div class="dash-content">
          <div class="client-profile-content">
            <div class="details-display">
              <div class="top-nav-options">
                <a href="/policyView/<%=policyId%>" class="nav-options-link">Policy Details</a>
                <a href="http://192.168.0.34/EIApro/php_files/policy-documents.php?id=<%=
                policyId %>&username=<%= user.firstName %>" class="nav-options-link">Image Documents</a>
                <a href="/credit/<%=policyId %>" class="nav-options-link">Credit Collection</a>
                <a href="/insurancePay/<%=policyId %>" class="nav-options-link active">Insurance Payment</a>
              </div>
              <div class="display-panel">
                <h2 class="data-input-title"><%= firstName %> <%=lastName %></h2>
                <div class="rows">
                  <div class="data-col">
                    <h2 class="title" style="padding: 0 0 0 1rem ;">Payments Calculations</h2>
                    <input
                      type="text"
                      required
                      placeholder="exPro"
                      id="exPro"
                      disabled
                      value="<%=exPro%>"
                      name=""
                      class="input-space"
                      style="display: none;"
                    />
                    <input
                      type="text"
                      required
                      placeholder="poliTe"
                      id="poliTe"
                      disabled
                      value="<%=poliTe%>"
                      name=""
                      class="input-space"
                      style="display: none;"
                    />
                      <input
                      type="text"
                      required
                      placeholder="perAcc"
                      id="perAcc"
                      disabled
                      value="<%=perAcc%>"
                      name=""
                      class="input-space"
                      style="display: none;"
                    />
                      <input
                      type="text"
                      required
                      placeholder="lossOfUse"
                      id="lossOfUse"
                      disabled
                      value="<%=lossOfUse%>"
                      name=""
                      class="input-space"
                      style="display: none;"
                    />
                      <input
                      type="text"
                      required
                      placeholder="pll"
                      id="pll"
                      disabled
                      value="<%=pll%>"
                      name=""
                      class="input-space"
                      style="display: none;"
                    />
                      <input
                      type="text"
                      required
                      placeholder="rescueBenefit"
                      id="rescueBenefit"
                      disabled
                      value="<%=rescueBenefit%>"
                      name=""
                      class="input-space"
                      style="display: none;"
                    />
                      <input
                      type="text"
                      required
                      placeholder="Windscreen"
                      id="windscreen"
                      disabled
                      value="<%=Windscreen%>"
                      name=""
                      class="input-space"
                      style="display: none;"
                    />
                      <input
                      type="text"
                      required
                      placeholder="PVT"
                      id="pvt"
                      disabled
                      value="<%=PVT%>"
                      name=""
                      class="input-space"
                      style="display: none;"
                    />
                      <input
                      type="text"
                      required
                      placeholder="MP"
                      id="mp"
                      disabled
                      value="<%=MP%>"
                      name=""
                      class="input-space"
                      style="display: none;"
                    />
                      <input
                      type="text"
                      required
                      placeholder="PAL"
                      id="pal"
                      disabled
                      value="<%=PAL%>"
                      name=""
                      class="input-space"
                      style="display: none;"
                      />
                      <input
                      type="text"
                      required
                      placeholder="TPL"
                      id="tpl"
                      disabled
                      value="<%=TPL%>"
                      name=""
                      class="input-space"
                      style="display: none;"
                      />
                      <form action="/insurancePay/<%= policyId %>" method="post" class="form-action">
                        <div class="split-diplay">
                          <div class="input-holder split" style="flex-wrap: wrap">
                            <h4
                              style="
                                width: 100%;
                                margin: 0.2rem 0;
                                font-weight: 400;
                                font-size: 15px;
                              "
                            >
                            Sum Insured(Kshs)
                            </h4>
                            <input
                              type="text"
                              placeholder="Sum Insured (Kshs)"
                              id="sum_insured"
                              disabled
                              value="Kshs <%= sumInsured %>"
                              style="background-color: #d4d4d4;max-width: 180px;"
                              name=""
                              class="input-space"
                            />
                            <% let sumInsured_clean = sumInsured.replace(/,/g, "");%>
                            <input
                              type="text"
                              placeholder="sum Insured Poa"
                              id="sum_insured_poa"
                              name=""
                              value="<%= sumInsured_clean %>"
                              class="input-space"
                              style="display: none;"
                            />
                          </div>
                          <div class="input-holder split" style="flex-wrap: wrap">
                            <h4
                              style="
                                width: 100%;
                                margin: 0.2rem 0;
                                font-weight: 400;
                                font-size: 15px;
                              "
                            >
                            PHCF (Kshs)
                            </h4>
                            <input
                              type="text"
                              placeholder="PHCF (Kshs)"
                              id="phcf"
                              disabled
                              style="background-color: #d4d4d4;max-width: 180px;"
                              name=""
                              class="input-space"
                            />
                            <input
                              type="text"
                              placeholder="PHCF Poa"
                              id="phcf_poa"
                              name="PHCF"
                              class="input-space"
                              style="display: none;"
                            />
                          </div>
                        </div>
                        <div class="split-diplay">
                          <div class="input-holder split" style="flex-wrap: wrap">
                            <h4
                              style="
                                width: 100%;
                                margin: 0.2rem 0;
                                font-weight: 400;
                                font-size: 15px;
                              "
                            >
                            Basic Prem. Rate (%)
                            </h4>
                            <input
                              type="text"
                              placeholder="Basic Prem. (%)"
                              onkeyup="basicPremCalc()"
                              id="basic_prem_rate"
                              style="max-width: 180px;"
                              name="premium_rate"
                              class="input-space"
                              value="<%=premium_rate  %>"
                            />
                          </div>
                          <div class="input-holder split" style="flex-wrap: wrap">
                            <h4
                              style="
                                width: 100%;
                                margin: 0.2rem 0;
                                font-weight: 400;
                                font-size: 15px;
                              "
                            >
                            Training Levy (Kshs)
                            </h4>
                            <input
                              type="text"
                              placeholder="Training Levy (Kshs)"
                              id="training_levy"
                              disabled
                              style="background-color: #d4d4d4;max-width: 180px;"
                              name=""
                              class="input-space"
                            />
                            <input
                              type="text"
                              placeholder="Training Levy Poa"
                              id="training_levy_poa"
                              name="levy"
                              class="input-space"
                              style="display: none;"
                            />
                          </div>
                        </div>
                        <div class="split-diplay">
                          <div class="input-holder split" style="flex-wrap: wrap">
                            <h4
                              style="
                                width: 100%;
                                margin: 0.2rem 0;
                                font-weight: 400;
                                font-size: 15px;
                              "
                            >
                            Basic Prem. (Kshs)
                            </h4>
                            <input
                              type="text"
                              placeholder="Basic Prem. (Kshs)"
                              id="basic_prem_amount"
                              disabled
                              style="background-color: #d4d4d4;max-width: 180px;"
                              name=""
                              class="input-space"
                            />
                            <input
                              type="text"
                              placeholder="Basic Premium Poa"
                              id="basic_prem_poa"
                              name="basicPremium"
                              class="input-space"
                              style="display: none;"
                            />
                          </div>
                          <div class="input-holder split" style="flex-wrap: wrap">
                            <h4
                              style="
                                width: 100%;
                                margin: 0.2rem 0;
                                font-weight: 400;
                                font-size: 15px;
                              "
                            >
                            Stamp Duty (Kshs)
                            </h4>
                            <input
                              type="text"
                              placeholder="Stamp Duty (Kshs)"
                              id="stamp_duty"
                              disabled
                              value="Kshs <%= stampDuty %>"
                              style="background-color: #d4d4d4;max-width: 180px;"
                              name=""
                              class="input-space"
                            />
                            <input
                              type="text"
                              placeholder="Stamp Duty Poa"
                              id="stamp_duty_poa"
                              value="<%= stampDuty %>"
                              name="stampDuty"
                              class="input-space"
                              style="display: none;"
                            />
                          </div>
                        </div>
                        <div class="split-diplay">
                          <div class="input-holder split" style="flex-wrap: wrap">
                            <h4
                              style="
                                width: 100%;
                                margin: 0.2rem 0;
                                font-weight: 400;
                                font-size: 15px;
                              "
                            >
                            Loading Prem. (Kshs)
                            </h4>
                            <input
                              type="text"
                              placeholder="Loading Prem. (Kshs)"
                              required
                              value=""
                              disabled
                              style="background-color: #d4d4d4;max-width: 180px;"
                              id="loading_prem_amount"
                              name=""
                              class="input-space"
                            />
                          </div>
                          <div class="input-holder split" style="flex-wrap: wrap">
                            <h4
                              style="
                                width: 100%;
                                margin: 0.2rem 0;
                                font-weight: 400;
                                font-size: 15px;
                              "
                            >
                            Basic Total (Kshs)
                            </h4>
                            <input
                              type="text"
                              placeholder="Basic Total (Kshs)"
                              required
                              id="basic_total_new"
                              disabled
                              style="background-color: #d4d4d4;max-width: 180px;"
                              name=""
                              class="input-space"
                            />
                          </div>
                        </div>
                        <div class="input-holder inside" style="flex-wrap: wrap">
                          <h4
                            style="
                              width: 100%;
                              margin: 0.2rem 0;
                              font-weight: 400;
                              font-size: 15px;
                            "
                          >
                          Total Prem. Amount (Kshs)
                          </h4>
                          <input
                            type="text"
                            placeholder="Total Prem. (Kshs)"
                            required
                            value=""
                            disabled
                            style="background-color: #d4d4d4;max-width: 180px;"
                            id="total_prem_amount"
                            name=""
                            class="input-space"
                          />
                          <input
                            type="text"
                            placeholder="Total Prem Poa. (Kshs)"
                            required
                            value=""
                            disabled
                            style="background-color: #d4d4d4;max-width: 180px;display: none;"
                            id="total_prem_amount_poa"
                            name=""
                            class="input-space"
                          />
                        </div>
                        <br><br>
                        <div class="input-holder inside" style="flex-wrap: wrap">
                          <h4
                            style="
                              width: 100%;
                              margin: 0.2rem 0;
                              font-weight: 400;
                              font-size: 15px;
                            "
                          >
                          Comm. Rate (%)
                          </h4>
                          <input
                            type="text"
                            placeholder="Comm. Rate (%)"
                            onkeyup="commRateCalc()"
                            value="<%= comm_rate %>"
                            style="max-width: 180px;"
                            id="comm_rate"
                            name="comm_rate"
                            class="input-space"
                          />
                        </div>
                        <div class="input-holder inside" style="flex-wrap: wrap">
                          <h4
                            style="
                              width: 100%;
                              margin: 0.2rem 0;
                              font-weight: 400;
                              font-size: 15px;
                            "
                          >
                          Comm. Amount (Kshs)
                          </h4>
                          <input
                            type="text"
                            placeholder="Comm. Amount (Kshs)"
                            value=""
                            disabled
                            style="background-color: #d4d4d4;max-width: 180px;"
                            id="comm_amount"
                            name=""
                            class="input-space"
                          />
                          <input
                            type="text"
                            placeholder="Comm. Amount Poa"
                            id="comm_amount_poa"
                            name="comm_amount"
                            class="input-space"
                            style="display: none;"
                          />
                        </div>
                        <div class="input-holder inside" style="flex-wrap: wrap">
                          <h4
                            style="
                              width: 100%;
                              margin: 0.2rem 0;
                              font-weight: 400;
                              font-size: 15px;
                            "
                          >
                          Special Discount (Kshs)
                          </h4>
                          <input
                            type="text"
                            placeholder="Special Discount (Kshs)"
                            onkeyup="special_disc()"
                            value="<%=special_discount%>"
                            style="max-width: 180px;"
                            id="special_discount"
                            name=""
                            class="input-space"
                          />
                          <input
                            type="text"
                            placeholder="Special Discount Poa"
                            id="special_discount_poa"
                            name="special_discount"
                            class="input-space"
                            style="display: none;"
                          />
                        </div>
                        <div class="input-holder inside" style="flex-wrap: wrap">
                          <h4
                            style="
                              width: 100%;
                              margin: 0.2rem 0;
                              font-weight: 400;
                              font-size: 15px;
                            "
                          >
                          Net Premium (Kshs)
                          </h4>
                          <input
                            type="text"
                            placeholder="Net Premium (Kshs)"
                            id="net_premium"
                            disabled
                            style="background-color: #d4d4d4;max-width: 180px;"
                            name=""
                            class="input-space"
                          />
                          <input
                            type="text"
                            placeholder="Net Premium Poa"
                            id="net_premium_poa"
                            name="netPremium"
                            class="input-space"
                            style="display: none;"
                          />
                        </div>
                        <div class="button-holder" style="margin-left: 2rem">
                          <button name="" class="btn add-new">Set rates</button>
                        </div>
                    </form>
                    </div>
                    <div class="data-col" style="background-color: #ebebeb;height: fit-content;margin: 1rem; padding: 1rem;border-radius: 0.5rem;">
                      <h2 class="title" style="padding: 0 0 0 1rem;">Payment Section</h2>
                      <form action="/creditPay/<%= policyId %>" method="post" class="form-action" enctype="multipart/form-data">
                        <div class="input-holder inside">
                          <input
                            type="text"
                            placeholder="Amount (Kshs)"
                            required
                            name="p_paid"
                            class="input-space"
                          />
                        </div>
                        <div class="input-holder split">
                          <input
                            type="text"
                            placeholder="Date Paid"
                            onblur="(this.type='text')"
                            onfocus="(this. type='date')"
                            id="end_date"
                            required
                            name="p_date"
                            class="input-space"
                          />
                        </div>
                        <div class="input-holder inside">
                          <select
                            name="p_mode"
                            class="input-space"
                            required
                          >
                            <option value="" selected>Select Payment Mode</option>
                            <option value="Cash">Cash</option>
                            <option value="M-Pesa">M-Pesa</option>
                            <option value="Bank Trasfer">Bank Trasfer</option>
                          </select>
                        </div>
                        <div class="input-holder inside">
                          <input
                            type="text"
                            placeholder="Ref Number"
                            required
                            name="refNumber"
                            class="input-space"
                          />
                        </div>
                        <div class="input-holder inside">
                          <input
                            type="file"
                            name="creditPayFile"
                            class="input-space"
                          />
                        </div>
                        <div class="button-holder" style="margin-left: 1rem;display: flex;justify-content: center;">
                          <button name="" class="btn">Make Payment</button>
                        </div>
                    </form>
                    </div>
                  
                <div class="rows">
                  <div class="data-col">
                    <div class="dash-table-display">
                      <table class="info-list-table">
                        <thead>
                          <tr>
                            <th>Date Paid</th>
                            <th>Amount Paid</th>
                            <th>Mode</th>
                            <th>Reference No.</th>
                            <th>Paiment Doc</th>
                          </tr>
                        </thead>
                        <tbody id="myTable">
                            <% if(creditPay.length > 0) {%>
                                <% for(let singleCredit of creditPay){%>
                                    <tr>
                                      <td><%=singleCredit.p_date  %>  </td>
                                      <td><%=singleCredit.p_paid %> </td>
                                      <td><%=singleCredit.p_mode  %> </td>
                                      <td><%=singleCredit.refNumber %> </td>
                                      <td><a href="http://192.168.0.34/EIApro/public/files/creditPay/<%=singleCredit.creditPayFile %>" download target="_blank"><%=singleCredit.creditPayFile %></a></td>
                                    </tr> 
                                     <% } %> 
                                <% }else{%><% } %>      
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="../js/new_insurance_calc.js"></script> -->
    <script src="/js/insurance_calc.js"></script>
    <script src="/js/time.js"></script>
    <script src="/js/nav.js"></script>
  </body>
</html>
