<%- include ('./includes/header.ejs') %>
  <body>
    <div class="dash-container">
      <div class="hover-hamburger" id="hover_hamburger">
        <div class="inner-hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
      <div class="nav-overlay" id="overlay"></div>
      <div class="side-bar" id="side_bar">
        <div class="other-hover-hamburger show" id="other_hover_hamburger">
          <div class="inner-hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
        <div class="side-bar-content">
          <div class="top-image-holder dash-img">
            <img src="/images/eia_logo.png" alt="" />
          </div>
          <ul class="links">
            <li class="list">
              <a href="/dashboard" class="link">Home</a>
            </li>
            <li class="list">
              <a href="/clients" class="link">Clients</a>
            </li>
            <li class="list">
              <a href="/underwriting" class="link active">Underwriting</a>
            </li>
            <li class="list">
              <a href="/claims" class="link">Claims</a>
            </li>
            <li class="list">
              <a href="/vehicles" class="link">Vehicles</a>
            </li>
            <li class="list">
              <a href="" class="link">Credit</a>
            </li>
            <li class="list">
              <a href="" class="link">Reports</a>
            </li>
          </ul>
          <ul class="links lower">
            <li class="list">
              <a href="/admin" class="link">Admin</a>
            </li>
            <li class="list">
              <a href="/logout" class="link logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="top-bar">
        <div class="user-name-space">
          <div class="user-icon">
            <div class="image-holder">
              <img src="/images/user-img.png" alt="" />
            </div>
            <h3 class="username-dash">Hello <%= user.firstName %> </h3>
          </div>
        </div>
      </div>
      <div class="time-bar">
        <h3 id="date_value"></h3>
      </div>
      <div class="dash-main">
        <div class="dash-content">
          <div class="data-input-content">
            <h2 class="data-input-title">Edit Policy Details </h2>
            <form action="" method="post" class="form-action">
              <div class="form-contents">
                <div class="rows">
                  <div class="data-col">
                    <div class="input-holder inside" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.2rem 0;
                          font-weight: 400;
                          font-size: 15px;
                        "
                      >
                      Client Name
                      </h4>
                      <input
                        list="client_name"
                        class="input-space"
                        placeholder="Select or Enter Client name"
                        name="clientName"
                        required
                        value="<%= policy.client.firstName%> <%= policy.client.lastName%>"
                      />
                    </div>
                    <div class="input-holder inside" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.2rem 0;
                          font-weight: 400;
                          font-size: 15px;
                        "
                      >
                      Registration Number
                      </h4>
                      <input
                        list="plate_number"
                        class="input-space"
                        placeholder="Select or Enter Vehicle Reistration Number"
                        name="regN"
                        required
                        value="<%= policy.vehicle.RegN %>"
                      />
                    </div>
                    <div class="input-holder inside" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.2rem 0;
                          font-weight: 400;
                          font-size: 15px;
                        "
                      >
                      Policy Number
                      </h4>
                      <input
                        type="text"
                        placeholder="Policy Number"
                        required
                        name="policyN"
                        value="<%=policy.policyNumber  %>"
                        class="input-space"
                      />
                    </div>
                    <div class="input-holder inside" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.5rem 0;
                          font-weight: 400;
                          font-size: 15px;
                        ">
                      Branch | Project Name
                      </h4>
                      <input
                        type="text"
                        placeholder="Branch | Project Name"
                        name="branch"
                        class="input-space"
                      />
                    </div>
                    <div class="input-holder inside" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.2rem 0;
                          font-weight: 400;
                          font-size: 15px;
                        "
                      >
                      MV Class
                      </h4>
                      <select
                        name="mvClass"
                        class="input-space"
                        required
                        id="class_selection"
                      >
                        <option value="<%=policy.mvClass  %>" selected><%=policy.mvClass  %></option>
                        <option value="">-- PRIVATE --</option>
                        <option value="Private Motor Vehicle">
                          Private Motor Vehicle
                        </option>
                        <option value="Private Motorcycle">
                          Private Motorcycle
                        </option>
                        <option value="">-- COMMERCIAL --</option>
                        <option value="General Cartage">General Cartage</option>
                        <option value="Own Goods">Own Goods</option>
                        <option value="Special Vehicles">
                          Special Vehicles
                        </option>
                        <option value="Institution Vehicles">
                          Institution Vehicles
                        </option>
                        <option value="Public Service Vehicles">
                          Public Service Vehicles
                        </option>
                        <option value="Chauffer Drive">Chauffer Drive</option>
                      </select>
                    </div>
                    <div class="input-holder inside" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.2rem 0;
                          font-weight: 400;
                          font-size: 15px;
                        "
                      >
                      Insurer
                      </h4>
                      <select
                        name="insurer"
                        class="input-space"
                        required
                        id="class_selection"
                    
                      >
                        <option value="<%= policy.insurer %>" selected><%= policy.insurer %> </option>
                        <option value="APA Insurance Limited">
                          APA Insurance Limited
                        </option>
                        <option value="Britam General Ins. Co. (K) Ltd">
                          Britam General Ins. Co. (K) Ltd
                        </option>
                        <option value="CIC General Insurance Ltd">
                          CIC General Insurance Ltd
                        </option>
                        <option value="Fidelity Shield  Insurance Co. Ltd">
                          Fidelity Shield Insurance Co. Ltd
                        </option>
                        <option value="Fisrt Assurance Company Ltd">
                          Fisrt Assurance Company Ltd
                        </option>
                        <option value="ICE LION General Insurance Ltd">
                          ICE LION General Insurance Ltd
                        </option>
                        <option value="Mayfair Insurance Company Ltd">
                          Mayfair Insurance Company Ltd
                        </option>
                        <option value="Occidental Insurance Co. Ltd">
                          Occidental Insurance Co. Ltd
                        </option>
                        <option value="Mua Insurance (Kenya) Limited">
                          Mua Insurance (Kenya) Limited
                        </option>
                        <option value="Intra Africa Assurance">
                          Intra Africa Assurance
                        </option>
                        <option value="Sanlam General Insurance Ltd">
                          Sanlam General Insurance Ltd
                        </option>
                        <option value="Resolution Insurance Company Ltd">
                          Resolution Insurance Company Ltd
                        </option>
                      </select>
                    </div>
                    <div class="input-holder inside" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.2rem 0;
                          font-weight: 400;
                          font-size: 15px;
                        "
                      >
                      Cover Type
                      </h4>
                      <select
                        name="coverType"
                        class="input-space"
                        required
                        id="cover_type"
                      >
                        <option value="<%= policy.coverType %>" selected><%= policy.coverType %> </option>
                        <option value="Comprehensive">Comprehensive</option>
                        <option value="Third Party">Third Party</option>
                        <option value="Third Party Fire and Theft">
                          Third Party Fire &amp; Theft
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="data-col">
                    <div class="split-diplay" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.2rem 0 0.2rem 1rem;
                          font-weight: 400;
                          font-size: 15px;
                        "
                      >
                      Policy Period
                      </h4>
                      <div class="input-holder split">
                        <input
                          type="text"
                          placeholder="Policy Period (From)"
                          onblur="(this.type='text')"
                          onfocus="(this. type='date')"
                          required
                          value="<%= policy.policyStart %>"
                          name="policyStart"
                          id="start_date"
                          class="input-space"
                        />
                      </div>
                      <div class="input-holder split">
                        <input
                          type="text"
                          placeholder="Policy Period (to)"
                          onblur="(this.type='text')"
                          onfocus="(this. type='date')"
                          id="end_date"
                          required
                          value="<%= policy.policyEnd %>"
                          name="policyEnd"
                          class="input-space"
                        />
                      </div>
                    </div>
                    <div class="split-diplay">
                      <div id="sum_insured_holder" class="input-holder split" style="flex-wrap: wrap">
                        <h4
                          style="
                            width: 100%;
                            margin: 0.2rem 0;
                            font-weight: 400;
                            font-size: 15px;
                          "
                          id="sum_insured_label"
                        >
                        Sum Insured
                        </h4>
                        <input
                          type="text"
                          placeholder="Sum Insured (Kshs)"
                          required
                          onkeyup="cashConcut()"
                          onblur="cashConcut()"
                          value="<%= policy.sumInsured %>"
                          id="sum_insured_input"
                          name="sumInsured"
                          class="input-space"
                        />
                      </div>
                      <div class="input-holder inside" style="display: none">
                        <input
                          type="text"
                          placeholder="Sum Insured Poa"
                          required
                          id="sum_insured_poa"
                          name="sumInsuredPoa"
                          class="input-space"
                        />
                      </div>
                      <div class="input-holder split" style="flex-wrap: wrap">
                        <h4
                          style="
                            width: 100%;
                            margin: 0.2rem 0;
                            font-weight: 400;
                            font-size: 15px;
                          "
                        >
                        Stamp Duty (Kshs)
                        </h4>
                        <input
                          type="text"
                          placeholder="stampDuty"
                          required
                          value="<%= policy.stampDuty %>"
                          name="stampDuty"
                          class="input-space"
                        />
                      </div>
                    </div>
                    <div class="input-holder inside" id="rate_holder" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.2rem 0;
                          font-weight: 400;
                          font-size: 15px;
                        "
                      >
                      Rate
                      </h4>
                      <input
                        type=""
                        placeholder="Rate"
                        name="rate"
                        value="<%= policy.rate %>"
                        id="rate_input"
                        class="input-space"
                      />
                    </div>
                    
                    <div class="input-holder inside" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.5rem 0;
                          font-weight: 400;
                          font-size: 15px;
                        ">
                      Basic Premium
                      </h4>
                      <input
                        type="text"
                        placeholder="Basic Premium (Kshs)"
                        onkeyup="basicPremConcut()"
                        id="basic_prem"
                        class="input-space"
                      />
                      <input
                        type="number"
                        placeholder="Basic Premium Poa"
                        name=""
                        id="basic_prem_poa"
                        name="basicPremium"
                        class="input-space"
                        style="display: none;"
                      />
                    </div>
                    <div class="input-holder" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.2rem 0;
                          font-weight: 400;
                          font-size: 15px;
                        "
                      >
                      Remarks
                      </h4>
                      <textarea
                        style="
                          height: auto;
                          padding: 1rem 0 0 1rem;
                          max-width: 523px;
                          max-height: 141px;
                        "
                        type="text"
                        id="policy_remarks"
                        rows="8"
                        required
                        class="input-space"
                        placeholder="Policy Remarks"
                        name="remarks"
                      ><%= policy.remarks %> </textarea>
                    </div>
                  </div>
                </div>
                <div class="benefits-list-display" id="benefits_list">
                  <h2 style="margin: 0 0 0.3rem 1rem">Benefits List</h2>
                  <div class="rows">
                    <div class="data-col">
                      <div class="rows">
                        <div class="data-col">
                          <div
                            class="split-diplay other"
                            style="align-items: center"
                          >
                            <div class="checkbox-holder">
                              <label  for="excess_protector" class="check-box"
                                >Excess Protector (E.P)</label
                              >
                            </div>
                            <div class="check-box-holder-data">
                              <input
                                type=""
                                placeholder="Basic Premium(Kshs)"
                                name="excessProtector"
                                value="<%= policy.exPro %>"
                                id="ep_basic_premium"
                                class="input-space"
                              />
                            </div>
                          </div>
                          <div
                            class="split-diplay other"
                            style="align-items: center"
                          >
                            <div class="checkbox-holder">
                              <label for="pvt" class="check-box"
                                >Political Violence &amp; Terrorism Rate
                                (P.V.T)</label
                              >
                            </div>
                            <div class="check-box-holder-data">
                              <input
                                type="number"
                                placeholder="Basic Premium(Kshs)"
                                name="pvt"
                                value="<%= policy.poliTe %>"
                                id="pvt_basic_premium"
                                class="input-space"
                              />
                            </div>
                          </div>
                          <div
                            class="split-diplay other"
                            style="align-items: center"
                          >
                            <div class="checkbox-holder">
                              <label for="windscreen_benefit" class="check-box"
                                >Windscreen Benefit</label
                              >
                            </div>
                            <div class="check-box-holder-data">
                              <input
                                type="number"
                                placeholder="Basic Premium(Kshs)"
                                name="windscreenBenefit"
                                value="<%= policy.Windscreen %>"
                                id="windscreen_benefit_basic_premium"
                                class="input-space"
                              />
                            </div>
                          </div>
                          <div
                            class="split-diplay other"
                            style="align-items: center"
                          >
                            <div class="checkbox-holder">
                              <label for="loss_of_use" class="check-box"
                                >Loss of Use</label
                              >
                            </div>
                            <div class="check-box-holder-data">
                              <input
                                type="number"
                                placeholder="Basic Premium(Kshs)"
                                name="lossOfUse"
                                value="<%= policy.lossOfUse %>"
                                id="loss_of_use_basic_premium"
                                class="input-space"
                              />
                            </div>
                          </div>
                          <div
                            class="split-diplay other"
                            style="align-items: center"
                          >
                            <div class="checkbox-holder">
                              <label for="loss_of_use" class="check-box"
                                >other Charges</label
                              >
                            </div>
                            <div class="check-box-holder-data">
                              <input
                                type="number"
                                placeholder="Other Charges(Kshs)"
                                name="otherCharges"
                                value="<%= policy.otherCharges %>"
                                id="loss_of_use_basic_premium"
                                class="input-space"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="data-col">
                      <div
                        class="split-diplay other"
                        style="align-items: center"
                      >
                        <div class="checkbox-holder">
                          <label for="pll" class="check-box"
                            >Passanger Legal Liability (P.L.L)</label
                          >
                        </div>
                        <div class="check-box-holder-data">
                          <input
                            type="number"
                            placeholder="Basic Premium(Kshs)"
                            name="passangerLegalLiability"
                            value="<%= policy.pll %>"
                            id="pll_benefit_basic_premium"
                            class="input-space"
                          />
                        </div>
                      </div>
                      <div
                        class="split-diplay other"
                        style="align-items: center"
                      >
                        <div class="checkbox-holder">
                          <label for="rescue_benefit" class="check-box"
                            >Rescue Benefit</label
                          >
                        </div>
                        <div class="check-box-holder-data">
                          <input
                            type="number"
                            placeholder="Basic Premium(Kshs)"
                            name="rescueBenefit"
                            value="<%= policy.rescueBenefit %>"
                            id="rescue_benefit_basic_premium"
                            class="input-space"
                          />
                        </div>
                      </div>
                      <div
                        class="split-diplay other"
                        style="align-items: center"
                      >
                        <div class="checkbox-holder">
                          <label for="personal_accident" class="check-box"
                            >Personal Accident (P.A)</label
                          >
                        </div>
                        <div class="check-box-holder-data">
                          <input
                            type="number"
                            placeholder="Basic Premium(Kshs)"
                            name="personalAccident"
                            value="<%= policy.PAL %>"
                            id="personal_accident_basic_premium"
                            class="input-space"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="button-holder" style="margin-left: 1.5rem">
                  <button name="" class="btn add-new">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/policy-period.js"></script>
    <script src="/js/motor-benefits.js"></script>
    <script src="/js/time.js"></script>
    <script src="/js/nav.js"></script>
  </body>
</html>
