<%- include ('./includes/header.ejs') %>
  <body>
    <div class="dash-container">
      <div class="hover-hamburger" id="hover_hamburger">
        <div class="inner-hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
      <div class="nav-overlay" id="overlay"></div>
      <div class="side-bar" id="side_bar">
        <div class="other-hover-hamburger show" id="other_hover_hamburger">
          <div class="inner-hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
        <div class="side-bar-content">
          <div class="top-image-holder dash-img">
            <img src="/images/eia_logo.png" alt="" />
          </div>
          <ul class="links">
            <li class="list">
              <a href="/dashboard" class="link">Home</a>
            </li>
            <li class="list">
              <a href="/clients" class="link">Clients</a>
            </li>
            <li class="list">
              <a href="/underwriting" class="link">Underwriting</a>
            </li>
            <li class="list">
              <a href="claims" class="link active">Claims</a>
            </li>
            <li class="list">
              <a href="/vehicles" class="link">Vehicles</a>
            </li>
            <li class="list">
              <a href="/credit" class="link">Reports</a>
            </li>
          </ul>
          <ul class="links lower">
            <li class="list">
              <a href="/admin" class="link">Admin</a>
            </li>
            <li class="list">
              <a href="/logout" class="link logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="top-bar">
        <div class="user-name-space">
          <div class="user-icon">
            <div class="image-holder">
              <img src="./images/user-img.png" alt="" />
            </div>
            <h3 class="username-dash">Hello <%= user.firstName %> </h3>
          </div>
        </div>
      </div>
      <div class="time-bar">
        <h3 id="date_value"></h3>
      </div>
      <div class="dash-main">
        <div class="dash-content">
          <div class="data-input-content">
            <h2 class="data-input-title">New Claim</h2>
            <div class="form-action">
              <div class="form-contents">
                <div class="rows" style="margin: -1rem 0 4rem 0">
                  <div class="data-col">
                    <div class="input-holder inside" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.2rem 0;
                          font-weight: 400;
                          font-size: 15px;
                        "
                      >
                      Policy Number
                      </h4>
                      <input
                        list="policy_lists"
                        class="input-space"
                        placeholder="Select or Enter Policy Number"
                        name=""
                        id="policy_tag_get"
                        required
                      />
                      <datalist id="policy_lists">
                        <% if(policies.length > 0) { %> 
                          <% for(let policy of policies) { %>
                          <%let vehicle = ""; %>
                           <%   if (policy.vehicle != undefined) { 
                              vehicle = policy.vehicle.RegN;  %> 
                          <%}%>
                        <option  data-value="<%= policy.id%>|<%= policy.policyNumber %>|<%= policy.policytype%>|<%= policy.insurer%>|<%= policy.sumInsured%>|<%= policy.client.firstName%> <%= policy.client.lastName%>|<%= policy.coverType%>|<%= policy.policyStart%>|<%= policy.policyEnd%>"><%= policy.policyNumber %>, <%= vehicle %></option>
                        
                      <% } %>
                      <% } else { %>
                      <% } %>
                      </datalist>
                    </div>
                    <div class="input-holder inside" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.2rem 0;
                          font-weight: 400;
                          font-size: 15px;
                        "
                      >
                      Cover Type
                      </h4>
                      <input
                        type="text"
                        placeholder="Cover Type"
                        name=""
                        id="claim_cover_type"
                        class="input-space"
                        disabled
                      />
                    </div>
                    <div class="input-holder inside" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.2rem 0;
                          font-weight: 400;
                          font-size: 15px;
                        "
                      >
                      Insurer
                      </h4>
                      <input
                        type="text"
                        placeholder="Insurer"
                        name=""
                        disabled
                        id="claim_insurer"
                        class="input-space"
                      />
                    </div>
                  </div>
                  <div class="data-col">
                    <div class="input-holder inside" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.2rem 0;
                          font-weight: 400;
                          font-size: 15px;
                        "
                      >
                      Policy Holder
                      </h4>
                      <input
                        type="text"
                        placeholder="Policy-Holder"
                        name=""
                        id="claim_policy_holder"
                        disabled
                        class="input-space"
                      />
                    </div>
                    <div class="split-diplay" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.2rem 0 0.2rem 1rem;
                          font-weight: 400;
                          font-size: 15px;
                        "
                      >
                      Policy Period
                      </h4>
                      <div class="input-holder split">
                        <input
                          type="text"
                          placeholder="Policy-Period(From)"
                          onblur="(this.type='text')"
                          onfocus="(this. type='date')"
                          name=""
                          id="claim_period_start"
                          disabled
                          class="input-space"
                        />
                      </div>
                      <div class="input-holder split">
                        <input
                          type="text"
                          placeholder="Policy-Period(to)"
                          onblur="(this.type='text')"
                          onfocus="(this. type='date')"
                          required
                          id="claim_period_end"
                          name=""
                          disabled
                          class="input-space"
                        />
                      </div>
                    </div>
                    <div class="input-holder inside" style="flex-wrap: wrap">
                      <h4
                        style="
                          width: 100%;
                          margin: 0.2rem 0;
                          font-weight: 400;
                          font-size: 15px;
                        "
                      >
                      Sum Insured
                      </h4>
                      <input
                        type="text"
                        placeholder="Sum Insured"
                        name=""
                        disabled
                        id="claim_sum_insured"
                        class="input-space"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <form action="" method="post" class="form-action">
              <div class="form-contents">
                <div class="rows">
                  <div class="data-col">
                    <div class="input-holder inside">
                      <input
                        list="policy_list"
                        class="input-space"
                        placeholder="Policy Number"
                        id="claim_policy_number"
                        disabled
                      />
                    </div>
                    <div class="input-holder inside" style="display: none;margin: 0;">
                      <input
                        class="input-space"
                        id="claim_policy_id"
                        placeholder="policyId"
                        name="policyId"
                        required
                      />
                    </div>
                    <div class="split-diplay">
                      <div class="input-holder split">
                        <input
                          type="text"
                          placeholder="Report Date"
                          onblur="(this.type='text')"
                          onfocus="(this. type='date')"
                          required
                          name="reportDate"
                          class="input-space"
                        />
                      </div>
                      <div class="input-holder split">
                        <input
                          type="text"
                          placeholder="Date of Loss"
                          onblur="(this.type='text')"
                          onfocus="(this. type='date')"
                          required
                          name="lossDate"
                          class="input-space"
                        />
                      </div>
                    </div>
                    <div class="input-holder inside">
                      <input
                        type="text"
                        placeholder="Claim Type"
                        required
                        name="claimType"
                        class="input-space"
                      />
                    </div>
                    <div class="input-holder">
                      <textarea
                        style="
                          height: auto;
                          padding: 1rem 0 0 1rem;
                          max-height: 143px;
                        "
                        type="text"
                        rows="9"
                        required
                        id="claim_description"
                        class="input-space"
                        placeholder="Claim Description"
                        name="description"
                      ></textarea>
                    </div>
                    <div class="input-holder inside" id="claim_compensation">
                      <select name="comp" class="input-space">
                        <option value="" selected>Select Compensation</option>
                        <option value="Comprehensive">Cash-In-Lieu</option>
                        <option value="Third Party">Authorize Repair</option>
                      </select>
                    </div>
                    <div class="input-holder inside" id="claim_compensation">
                      <select name="status" class="input-space">
                        <option value="" selected>Claim Status</option>
                        <option value="Open">Open</option>
                        <option value="Settled">Settled</option>
                        <option value="Declined">Declined</option>
                        <option value="Repudated">Repudated</option>
                      </select>
                    </div>
                  </div>
                  <div class="data-col">
                    <div class="input-holder inside">
                      <input
                        type="text"
                        placeholder="Reporter"
                        required
                        name="reporter"
                        class="input-space"
                      />
                    </div>
                    <div class="input-holder inside">
                      <input
                        type="tel"
                        placeholder="Reporter Contact"
                        required
                        name="reporterContact"
                        class="input-space"
                      />
                    </div>
                    <div class="split-diplay">
                      <div class="input-holder split">
                        <input
                          type="text"
                          placeholder="Offer Date"
                          onblur="(this.type='text')"
                          onfocus="(this. type='date')"
                          required
                          name="offerDate"
                          class="input-space"
                        />
                      </div>
                      <div class="input-holder split">
                        <input
                          type="text"
                          placeholder="Compensation Date"
                          onblur="(this.type='text')"
                          onfocus="(this. type='date')"
                          required
                          name="compDate"
                          class="input-space"
                        />
                      </div>
                    </div>
                    <div class="input-holder inside">
                      <input
                        type="number"
                        placeholder="Claim Amount"
                        name="claimAmount"
                        class="input-space"
                      />
                    </div>
                    <div class="input-holder inside">
                      <input
                        type="number"
                        placeholder="Offer Amount"
                        name="offerAmount"
                        class="input-space"
                      />
                    </div>
                    <div class="input-holder inside">
                      <input
                        type="text"
                        placeholder="Garaged at"
                        name="garagedAt"
                        id="claim_garaged_at"
                        class="input-space"
                      />
                    </div>
                    <div class="input-holder inside">
                      <input
                        type="tel"
                        placeholder="Garage Contact"
                        name="garageContact"
                        id="claim_garaged_contact"
                        class="input-space"
                      />
                    </div>
                  </div>
                </div>
                <div class="button-holder" style="margin-left: 1.5rem">
                  <button name="" class="btn add-new">Create</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/claim-selector.js"></script>
    <script src="./js/time.js"></script>
    <script src="./js/nav.js"></script>
  </body>
</html>
