<%- include ('./includes/header.ejs') %>
  <body>
    <div class="dash-container">
      <div class="hover-hamburger" id="hover_hamburger">
        <div class="inner-hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
      <div class="nav-overlay" id="overlay"></div>
      <div class="side-bar" id="side_bar">
        <div class="other-hover-hamburger show" id="other_hover_hamburger">
          <div class="inner-hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
        <div class="side-bar-content">
          <div class="top-image-holder dash-img">
            <img src="./images/eia_logo.png" alt="" />
          </div>
          <ul class="links">
            <li class="list">
              <a href="/dashboard" class="link">Home</a>
            </li>
            <li class="list">
              <a href="/clients" class="link">Clients</a>
            </li>
            <li class="list">
              <a href="/underwriting" class="link">Underwriting</a>
            </li>
            <li class="list">
              <a href="/claims" class="link">Claims</a>
            </li>
            <li class="list">
              <a href="/vehicles" class="link active">Vehicles</a>
            </li>
            <li class="list">
              <a href="" class="link">Credit</a>
            </li>
            <li class="list">
              <a href="" class="link">Reports</a>
            </li>
          </ul>
          <ul class="links lower">
            <li class="list">
              <a href="/admin" class="link">Admin</a>
            </li>
            <li class="list">
              <a href="/logout" class="link logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="top-bar">
        <div class="user-name-space">
          <div class="user-icon">
            <div class="image-holder">
              <img src="/images/user-img.png" alt="" />
            </div>
            <h3 class="username-dash">Hello <%= userN.firstName %> </h3>
          </div>
        </div>
      </div>
      <div class="time-bar">
        <h3 id="date_value"></h3>
      </div>
      <div class="dash-main">
        <div class="dash-content">
          <div class="client-profile-content">
            <div class="details-display">
              <div class="top-nav-options">
                <a href="" class="nav-options-link active">Vehicle Details</a>
                <a href="" class="nav-options-link">Image Documents</a>
              </div>
              <div class="display-panel">
                <h2 class="data-input-title">Vehicle Details</h2>
                <div class="rows">
                  <div class="data-col">
                    <div class="client-details-display">
                      <h4 class="main">Registration Number:</h4>
                      <h4><%= vehicle.RegN %> </h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Chassis Number:</h4>
                      <h4><%= vehicle.Chasis %> </h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Logbook Number:</h4>
                      <h4><%= vehicle.LogBook %> </h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Make</h4>
                      <h4><%= vehicle.Make %> </h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Year of Manufacture:</h4>
                      <h4><%= vehicle.MOY %> </h4>
                    </div>
                  </div>
                  <div class="data-col">
                    <div class="client-details-display">
                      <h4 class="main">Engine Number:</h4>
                      <h4><%= vehicle.EngNo %> </h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Color:</h4>
                      <h4><%= vehicle.Color %> </h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Loading Capacity:</h4>
                      <h4><%= vehicle.LoadingCapacity %> Kgs</h4>
                    </div>
                    <div class="client-details-display">
                      <h4 class="main">Owner:</h4>
                      <h4><%= vehicle.Owner %> </h4>
                    </div>
                  </div>
                  
                  <div
                    class="button-holder edit"
                    style="
                      display: flex;
                      justify-content: flex-end;
                      padding: 0 2rem 0 0;
                    "
                  >
                    <a href="/edit/<%= vehicle.id %> " class="btn add-new">Edit</a>
                  </div>
                </div>

                <h2 class="data-input-title">Vehicle Policies</h2>

                <div class="dash-table-display">
                  <table class="info-list-table">
                    <thead>
                      <tr>
                        <th>Sum Insured</th>
                        <th>Cover Type</th>
                        <th>Client Name</th>
                        <th>From</th>
                        <th>To</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(vehicle.policies.length > 0) { %>
                        <% for(let policy of vehicle.policies) {%> 
                        <tr onclick="document.location='client-profile'">
                          <td>Kshs<br /><%= policy.sumInsured %> </td>
                          <td><%= policy.coverType %> </td>
                          <td><%= policy.client.firstName %> <%= policy.client.lastName %> </td>
                          <td><%= policy.policyStart %> </td>
                          <td><%= policy.policyEnd %> </td>
                        </tr>
                        <% } %>
                         <%}else{ %>
                          <h2>nothing to display</h2>
                          <% } %>  
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/time.js"></script>
    <script src="./js/nav.js"></script>
  </body>
</html>
